<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
  <script src="lib/kframe.min.js"></script>
  <script>
const a = AFRAME;

a.registerComponent('set-image', {
  schema: {
    on: {type: 'string'},
    target: {type: 'selector'},
    src: {type: 'string'},
    dur: {type: 'number', default: 300}
  },
  setupFadeAnimation: function(){
    // Appends an <a-animation> that fades to black.
  },
  init: function(){
    const d = this.data;
    const e = this.el;

    this.setupFadeAnimation();
    e.addEventListener(d.on, function () {
      // Fade out image.
      d.target.emit('set-image-fade');
      // Wait for fade to complete.
      setTimeout(function () {
        // Set image.
        d.target.setAttribute('material', 'src', d.src);
      }, d.dur);
    });
  }
});
  </script>
</head>
<body>
<a-scene>
  <a-assets>
    <script id="plane" type="text/nunjucks">
      <a-plane
        class="link" height="1" width="1"
        material="shader: flat; src: {{ thumb }}"
        sound="on: click; src: #click-sound"
        event-set__1="_event: mousedown; scale: 1 1 1"
        event-set__2="_event: mouseup; scale: 1.2 1.2 1"
        event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
        event-set__4="_event: mouseleave; scale: 1 1 1"
      ></a-plane>
    </script>
    <!-- Sounds -->
    <audio id="click-sound" src="audio/click.mp3"></audio>
    <!-- Images. -->
    <img id="city" src="img/city.jpg">
    <img id="city-thumb" src="img/city_thumb.png">
    <img id="lake" src="img/lake.jpg">
    <img id="lake-thumb" src="img/lake_thumb.png">
    <img id="bridge" src="img/bridge.jpg">
    <img id="bridge-thumb" src="img/bridge_thumb.png">
  </a-assets>

  <!-- 360-degree image. -->
  <a-sky id="image-360" radius="10" src="#city"></a-sky>

  <!-- Links. -->
  <a-entity id="links" layout="layout: line; margin: 1.5" position="-3 -1 -4">
    <a-entity
      template="src: #plane"
      data-thumb="#city-thumb"
      set-image="on: click; src: #city; target: #image-360"
    ></a-entity>
    <a-entity
      template="src: #plane"
      data-thumb="#bridge-thumb"
      set-image="on: click; src: #bridge; target: #image-360"
    ></a-entity>
    <a-entity
      template="src: #plane"
      data-thumb="#lake-thumb"
      set-image="on: click; src: #lake; target: #image-360"
    ></a-entity>
  </a-entity>

  <!-- Camera + Cursor. -->
  <a-camera>
    <a-cursor id="cursor" fuse="true" raycaster="objects: .link">
      <a-animation begin="click" easing="ease-in" attribute="scale"
                   fill="backwards" from="0.1 0.1 0.1" to="1 1 1" dur="150"></a-animation>
      <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale"
                   from="1 1 1" to="0.1 0.1 0.1" dur="1500"></a-animation>
    </a-cursor>
  </a-camera>
</a-scene>
</body>
</html>
