<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="lib/aframe.min.js"></script>
  <script src="lib/kframe.min.js"></script>
  <script>
const a = AFRAME;

a.registerComponent('update-raycaster', {
  schema: {
    type: 'selector'
  },

  init: function () {
    var raycasterEl = this.data;
    raycasterEl.components.raycaster.refreshObjects();
  }
});

a.registerComponent('set-image', {
  schema: {
    on: {type: 'string'},
    target: {type: 'selector'},
    src: {type: 'string'},
    dur: {type: 'number', default: 300}
  },

  init: function(){
    const d = this.data;
    const e = this.el;

    this.setupFadeAnimation();
    e.addEventListener(d.on, function () {
      // Fade out image.
      d.target.emit('set-image-fade');
      // Wait for fade to complete.
      setTimeout(function () {
        // Set image.
        d.target.setAttribute('material', 'src', d.src);
      }, d.dur);
    });
  },

  setupFadeAnimation: function() {
    const data   = this.data;
    const target = this.data.target;

    // Only set up once.
    if (target.dataset.setImageFadeSetup)
      return;
    else
      target.dataset.setImageFadeSetup = true;

    // Create animation.
    target.setAttribute('animation__fade', {
      property    : 'material.color',
      startEvents : 'set-image-fade',
      dir         : 'alternate',
      dur         : data.dur,
      from        : '#FFF',
      to          : '#000'
    });
  }

});
  </script>
</head>
<body>
<a-scene>
  <a-assets>
    <!-- Templates //-->
    <script id="plane" type="text/nunjucks">
      <a-plane
        class="link" height="1" width="1"
        material="shader: flat; src: {{ thumb }}"
        sound="on: click; src: #click-sound"
        event-set__1="_event: mousedown; scale: 1 1 1"
        event-set__2="_event: mouseup; scale: 1.2 1.2 1"
        event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
        event-set__4="_event: mouseleave; scale: 1 1 1"
        set-image="on: click; src: {{ src }}; target: #image-360"
        update-raycaster="#cursor"
      ></a-plane>
    </script>

    <!-- Sounds -->
    <audio id="click-sound" src="audio/click.mp3"></audio>

    <!-- Images. -->
    <img id="city" src="img/city.jpg">
    <img id="city-thumb" src="img/city_thumb.png">
    <img id="lake" src="img/lake.jpg">
    <img id="lake-thumb" src="img/lake_thumb.png">
    <img id="bridge" src="img/bridge.jpg">
    <img id="bridge-thumb" src="img/bridge_thumb.png">
  </a-assets>

  <!-- 360-degree image. -->
  <a-sky id="image-360" radius="10" src="#city"></a-sky>

  <!-- Links. -->
  <a-entity id="links" layout="layout: line; margin: 1.5" position="-3 -1 -4">
    <a-entity template="src: #plane" data-thumb="#city-thumb" data-src="#city" ></a-entity>
    <a-entity template="src: #plane" data-thumb="#bridge-thumb" data-src="#bridge" ></a-entity>
    <a-entity template="src: #plane" data-thumb="#lake-thumb" data-src="#lake" ></a-entity>
  </a-entity>

  <!-- Camera + Cursor. -->
  <a-camera>
    <a-cursor id="cursor" fuse="true" raycaster="objects: .link"
      animation__click="property: scale; startEvents: fusing; to: 0.1 0.1 0.1; from: 1 1 1; dur: 1500"
      animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 800"
      event-set__1="_event: mouseenter; color: springgreen"
      event-set__2="_event: mouseleave; color: black; scale: 1 1 1;">
    </a-cursor>
  </a-camera>
</a-scene>
</body>
</html>
